:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

body {
    background-color: grey;
}

.container {
    padding: 20px 0 20px 0;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    cursor: pointer;
    margin: 50px;
    /*border: 2px solid red;*/
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: background-color .6s ease-in-out;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: all .5s ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    bottom: -20px;
}

.container:hover #menu {
    background-color: transparent;
}

.container:hover #menu::after {
    /*transition: 5s ease-in-out;*/
    transform: rotate(45deg);
    bottom: 0;

}

.container:hover #menu::before {
    transform: rotate(-45deg);
    top: 0;
}


